html {
    font-family: 'New Tegomin', serif;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Background1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}

.container {
    width: 90%;
    color: rgb(145, 223, 243);
    margin: 0 auto;
}

/* header start from here  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1{
width: 75px;
}
.header div{
    display: flex;
    align-items: center;
}
.header div a{
    text-align: center;
    color: rgb(145, 223, 243);
    text-decoration: none;
    font-size: 25px;
    margin: 40px;
    transition: 0.3s;
}
.header div a:hover{
    margin-top: -1%;
}

/* header end from here  */

/* section start here  */
.texts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.texts h1{
    width: 100%;
    font-size: 150px;
    margin-bottom: 30px;
}
.texts p{
    width: 100%;
    font-size: 20px;
    margin-top: -15%;
}
.texts button{
    width: 120px;
    height: 50px;
    border-radius: 25%;
    margin-top: -15%;
    background-color:rgb(145, 223, 243);
    transition: 0.3s;

}
.texts button:hover{
    margin-top: -20%;
}
.section{
    margin-top: 0.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.index4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.index4 img:hover{
margin-top:-1% ;
}
.section div img{
    width: 34%;
    height: 43%;
    border-radius: 7%;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.3s;
}
/* section end here  */
